header > .wrapper a {
  text-decoration: none;
}

.site-title {
  float: left;
  margin-bottom: 0;
  font-weight: 800;
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  &:hover {
    color: $brand-color;
  }
}

.site-nav {
  float: right;
  font-weight: 800;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      color: $brand-color;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    text-align: right;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      padding-top: 10px;
      line-height: 0;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      display: none;
      clear: both;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

.site-footer {
  padding: $spacing-unit 0;
  border-top: 1px solid $grey-color-light;

  > .wrapper {
    display: flex;
  }
}

.avatar {
  border-radius: 50%;
}

.profile {
  margin-left: 13px;
}

.author {
  font-weight: bold;
}

.social-media-list {
  display: flex;
  margin-bottom: 0;
  margin-left: 0;
  color: $grey-color;
  font-size: 13px;
  list-style: none;

  li {
    padding-right: 8px;
  }
}

.description {
  color: $grey-color;
  font-size: 13px;
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  a {
    text-decoration: none;
  }
}

.post-meta {
  color: $grey-color;
  font-size: $small-font-size;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 28px;
  line-height: 1;
  letter-spacing: -1px;

  @include media-query($on-laptop) {
    font-size: 24px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    margin-top: 3em;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 0.1em solid $grey-color-light;

    @include media-query($on-laptop) {
      font-size: 16px;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 16px;

    @include media-query($on-laptop) {
      font-size: 16px;
    }
  }

  h6 {
    margin-top: 3em;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 0.1em solid $grey-color-light;

    @include media-query($on-laptop) {
      font-size: 16px;
    }
  }
}

.share-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 3em;

  .twitter-share-button,
  .fb-share-button {
    margin-right: 0.5em;
  }
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  width: auto;
  font-size: 14px;

  a {
    display: block;
    width: 50%;
    margin: 2em 0 1em 0;
    color: $grey-color-dark;

    &:hover {
      color: $brand-color;
    }
  }

  .prev-none {
    cursor: default;
    pointer-events: none;
  }

  .next {
    text-align: right;
  }
}

.tags {
  margin-left: 7px;
  padding: 3px 5px;
  color: $grey-color;
  font-size: $small-font-size;
  background: $grey-color-light;
}

.requirements {
  position: relative;
  margin: 2em 0 3em;
  padding-top: 1.4em;
  color: $grey-color-dark;
  font-size: $small-font-size;
  background: $code-bg;

  ::before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.1em 1em 0.1em 1em;
    color: $grey-color;
    font-size: 0.75rem;
    background: #dcdcdc;
    content: '動作環境';
  }

  .list {
    margin: 0;
    padding: 0.5em 1.5em;
    list-style: none;
  }
}

.info {
  margin: 30px 0;
  padding: 8px 16px;
  background: #fafbfc;
  border: 1px #e1e4e8 solid;
  border-radius: 3px;
}

.code-block-header {
  position: relative;
  padding-top: 32px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    padding: 1px 10px;
    color: darken(#f6f8fa, 50%);
    font-weight: 700;
    font-size: 13px;
    background: darken(#f6f8fa, 8%);
    content: attr(data-lang);
  }
}
