<footer class="site-footer">

  <div class="wrapper">

    <div class="avatar">
      {% if site.github_username %}
      {% avatar {{site.github_username}} size=50 %}
      {% endif %}
    </div>

    <div class="profile">
      <div class="author">
        {% if site.author %}
        {{ site.author | escape }}
        {% endif %}
      </div>

      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span>GitHub</span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span>X</span>
          </a>
        </li>
        {% endif %}
      </ul>

      <div class="description">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
