header > .wrapper a {
  text-decoration: none;
}
.site-title {
    font-size: 26px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    &:hover {
      color: $brand-color;
    }
}

.site-nav {
    font-weight: 800;
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover {
          color: $brand-color;
        }

    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;

  > .wrapper {
    display: flex;
  }
}

.avatar {
  border-radius: 50%;
}

.profile {
  margin-left: 13px;
}

.author {
  font-weight: bold;
}

.social-media-list {
  color: $grey-color;
  display: flex;
  font-size: 13px;
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;

  li {
    padding-right: 8px;
  }
}

.description {
  color: $grey-color;
  font-size: 13px;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

    a {
      text-decoration: none;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 24px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 18px;
        font-weight: 600;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }

    // h3 {
    //     font-size: 26px;
    //
    //     @include media-query($on-laptop) {
    //         font-size: 22px;
    //     }
    // }
    //
    // h4 {
    //     font-size: 20px;
    //
    //     @include media-query($on-laptop) {
    //         font-size: 18px;
    //     }
    // }
}

.tags {
  background: $grey-color-light;
  color: $grey-color;
  font-size: $small-font-size;
  margin-left: 7px;
  padding: 3px 5px;
}
